<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Lists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
{% block content %}
<div class="sidenav">
  <a href="{% url 'base' %}">base</a>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'apps' %}">apps</a>
  <a href="{% url 'lists' %}">lists</a>
</div>

<div class="header">
  Yoshiislandserver
</div>
<div class="content">
  <h2>Lists</h2>
</div>

{% endblock %}
<script>
</script>
</body>
</html>
